<h1>Sign Up</h1>
<form [formGroup]="signupForm">
  <app-notifications></app-notifications>
  <table>
    <tr>
      <td>User:</td>
      <td><input type='text' formControlName="username"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' formControlName="password" /></td>
    </tr>
    <tr>
      <td>Password Confirm:</td>
      <td><input type='password' formControlName="passwordConfirm" /></td>
    </tr>
    <tr>
      <td><button (click)="signup()">Sign Up</button></td>
    </tr>
  </table>
  <div>
    <p>Registration Rules</p>
    <ul>
      <li *ngFor="let rule of rules">
        <b>{{rule.type}}</b> {{rule.value}}
      </li>
    </ul>
  </div>
  <div>
    <a href=""  [routerLink]="['/auth/login']">Sign In</a>
  </div>
</form>
