<h2 mat-dialog-title>
  Import external document
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="importForm">
    <div class="form-group">
      <label class="font-weight-bold">Join csv files</label>
      <input type="file" [disabled]="_documents?.length" (change)="selectFiles($event)" accept=".csv" multiple>
    </div>
    <div formArrayName="names" *ngFor="let name of names.controls; let i = index;">
      <div [formGroupName]="i" class="form-group">
        <input type="text" formControlName="name" class="form-control" matInput />
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="documents" color="primary">Valid</button>
</mat-dialog-actions>
