<form [formGroup]="elementForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-select
        placeholder="Select an element!"
        formControlName="type"
        (ngModelChange)="selectElement()"
      >
        <mat-option
          *ngFor="let elementChoice of ELEMENTS_CHOICES"
          [value]="elementChoice.key"
          >{{ elementChoice.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div [ngSwitch]="true" *ngIf="elementChoiceKey">
    <div *ngSwitchCase="elementChoiceKey === ElementType.TEXT" class="form-group">
      <app-text-palette formControlName="text"></app-text-palette>
    </div>
    <div  *ngSwitchCase="elementChoiceKey === ElementType.SOURCE_CODE" class="form-group">
      <app-textarea-palette formControlName="text"></app-textarea-palette>
    </div>
    <div
      *ngSwitchCase="
        elementChoiceKey === ElementType.BIG_TITLE ||
        elementChoiceKey === ElementType.MEDIUM_TITLE ||
        elementChoiceKey === ElementType.SMALL_TITLE ||
        elementChoiceKey === ElementType.VERY_SMALL_TITLE
      "
      class="form-group"
    >
      <app-title-palette formControlName="text"></app-title-palette>
    </div>
    <div *ngSwitchCase="elementChoiceKey === ElementType.LIST" class="form-group">
      <app-list-palette formControlName="text"></app-list-palette>
    </div>
  </div>
  <div class="form-group">
    <button
      mat-stroked-button
      [disabled]="!element"
      (click)="onCancel()"
      color="primary"
    >
      Cancel
    </button>
    Size: {{ textSize }}/{{ maxTextLength }}
    <button
      [disabled]="elementForm.pristine || elementForm.invalid"
      mat-flat-button
      (click)="onSubmit()"
      color="primary"
      class="pull-right"
    >
      {{ isEditElement ? "SAVE" : "ADD" }}
    </button>
  </div>
</form>
