<p></p>
<div class="card">
  <div class="card-header">
    <h2 *ngIf="queryParams">{{
      queryParams.collectionType === DocumentCollectionTypes.MY_FAVORITE_TUTOS ? 'Mes tutos favoris' :
      queryParams.collectionType === DocumentCollectionTypes.MY_TUTOS ? 'Mes tutos' :
      queryParams.collectionType === DocumentCollectionTypes.ALL_TUTOS ? 'Tous les tutos':
      queryParams.collectionType === DocumentCollectionTypes.PUBLIC_TUTOS ? 'Tutos publiques':
      !!queryParams.collectionId ? queryParams.collectionName : 'Tutos publiques'
    }}
    </h2>
  </div>
  <div class="card-body">
    <div>
      <button [appPermissions]="ADMIN_AND_SOURCER_PERMISSIONS" mat-stroked-button color="primary" (click)="openImportDocumentFileDialog()" class="pull-right">
        Import
      </button>
      <button mat-stroked-button color="primary" (click)="openCreateDocumentDialog()" class="pull-right">
        New
      </button>
      <span>&nbsp;</span>
    </div>
    <div style="margin-top: 20px;">
      <app-document-list
        [documents]="documents"
        (reloadChanged)="onReloadDocument($event)"
      ></app-document-list>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
