<mat-chip-list>
  <mat-chip (click)="returnToSelectDocument.emit(true)">Back</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip (click)="activeEditMode()" color="primary">EDIT</mat-chip>
</mat-chip-list>
<div class="row">
  <div class="col-lg-4" *ngIf="editMode">
    <app-document-palette (onSubmitChange)="onSubmit($event)"></app-document-palette>
  </div>
  <div [ngClass]="{'col-lg-8': editMode, 'col-lg-12': !editMode}">
    <app-document-content [document]="document"
    [editMode]="editMode"
    (editModeChange)="onEditModeChange($event)"></app-document-content>
  </div>
</div>
