<div class="card">
  <div class="card-header bg-info text-white">
    {{ document.name }}
    <div class="pull-right">
      <mat-chip-list>
        <mat-chip (click)="editMode = true" color="primary">EDIT</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-5" *ngIf="editMode">
        <app-document-palette
          (onSubmitChange)="onSubmit($event)"
          [element]="element"
          (cancelChange)="onCancelChange($event)"
        ></app-document-palette>
      </div>
      <div [ngClass]="{ 'col-lg-7': editMode, 'col-lg-12': !editMode }">
        <app-document-content
          [document]="document"
          [editMode]="editMode"
          (editModeChange)="onEditModeChange($event)"
          (editElementChange)="onEditElementChange($event)"
          [newOrEditElement]="newOrEditElement"
          [shouldCancelChanges]="shouldCancelChanges"
        ></app-document-content>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <mat-chip-list>
      <mat-chip (click)="returnToSelectDocument.emit(true)">Back</mat-chip>
    </mat-chip-list>
  </div>
</div>
