<div>
    <h2>{{ document.name }}</h2>
</div>
<div class="row">
  <div class="col-lg-5" *ngIf="editMode">
    <app-document-palette
      (onSubmitChange)="onSubmit($event)"
      [element]="element"
      (cancelChange)="onCancelChange($event)"
    ></app-document-palette>
  </div>
  <div [ngClass]="{ 'col-lg-7': editMode, 'col-lg-12': !editMode }">
    <app-document-content
      [document]="document"
      [editMode]="editMode"
      (editModeChange)="onEditModeChange($event)"
      (editElementChange)="onEditElementChange($event)"
      [newOrEditElement]="newOrEditElement"
      [shouldCancelChanges]="shouldCancelChanges"
    ></app-document-content>
  </div>
</div>
<div style="margin-top: 10px;">
  <angular2csv appDownloadButton
    [data]="document.elements"
    filename="{{document.name}}"
    [options]="options">
  </angular2csv>
</div>
