<div class="list-group">
  <div class="list-group-item">
    <form class="form-group">
      <mat-form-field style="width: 100%">
        <input type="text" placeholder="Document Name" aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let document of documents" [value]="document.id + ' - ' + document.name">
            {{document.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div *ngFor="let document of documents" class="list-group-item">
    <div class="row">
      <div class="col-md-6">{{document.name}}</div>
      <div class="col-md-6" >
        <button mat-stroked-button color="primary" (click)="onSelectDocument(document.id)">
          <i class="fa fa-book" aria-hidden="true"></i>
        </button>
        <button mat-stroked-button color="warn" (click)="openDialogDeleteDocument(document)">
          <i class="fa fa-minus-circle"></i>
        </button>
        <button mat-stroked-button color="info" (click)="renameDocument(document)">
          <i class="fa fa-pencil"></i>
        </button>
     </div>
    </div>
  </div>
</div>
