<div class="list-group">
  <div class="list-group-item">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Document Name" aria-label="Number" matInput [matAutocomplete]="auto" [formControl]="searchDocumentControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="example-full-width">
          <mat-option *ngFor="let document of filteredDocuments | async" [value]="document">
            {{document.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button [disabled]="!searchDocumentControl.value?.id" class="btn btn-default circleButton" (click)="onOpenDocument(searchDocumentControl.value)">
        <i class="fa fa-book" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <div *ngFor="let document of documents" class="list-group-item">
    <div class="row">
      <div class="col-md-6">{{document.name}}</div>
      <div class="col-md-6" >
        <a mat-raised-button routerLink="/document/{{document.id}}">
          <i class="fa fa-book" aria-hidden="true"></i>
        </a>
        <button mat-stroked-button color="warn" (click)="openDialogDeleteDocument(document)">
          <i class="fa fa-minus-circle"></i>
        </button>
        <button mat-stroked-button color="info" (click)="openDialogCreateUpdateDocumentName(document)">
          <i class="fa fa-pencil"></i>
        </button>
     </div>
    </div>
  </div>
</div>
