<form [formGroup]="questionForm">
    <div>
        <mat-form-field class="example-full-width">
            <input
              type="text"
              placeholder="Question"
              matInput
              formControlName="question"
              (ngModelChange)="changed()"
            />
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
          <textarea
            rows="5"
            matInput
            placeholder="Question complement"
            formControlName="questionComplement"
            (ngModelChange)="changed()"
          ></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
          <textarea
            rows="5"
            matInput
            placeholder="Correct Answer"
            formControlName="correctAnswer"
            (ngModelChange)="changed()"
          ></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input
              type="number"
              placeholder="Score"
              matInput
              formControlName="score"
              (ngModelChange)="changed()"
            />
          </mat-form-field>
    </div>
</form>
