<form [formGroup]="elementForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-select
        placeholder="Select an element!"
        formControlName="type"
        (ngModelChange)="selectElement()"
      >
        <mat-option
          *ngFor="let elementChoice of ELEMENTS_CHOICES"
          [value]="elementChoice.key"
          >{{ elementChoice.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div [ngSwitch]="true" *ngIf="elementChoiceKey">
    <div
      *ngSwitchCase="
        elementChoiceKey === ElementType.SOURCE_CODE ||
        elementChoiceKey === ElementType.TEXT
      "
      class="form-group"
    >
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Text Content here!"
          rows="15"
          formControlName="text"
        ></textarea>
      </mat-form-field>
    </div>
    <div
      *ngSwitchCase="
        elementChoiceKey === ElementType.BIG_TITLE ||
        elementChoiceKey === ElementType.MEDIUM_TITLE ||
        elementChoiceKey === ElementType.SMALL_TITLE ||
        elementChoiceKey === ElementType.VERY_SMALL_TITLE
      "
      class="form-group"
    >
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Title Here!"
          matInput
          formControlName="text"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="form-group">
    <button mat-stroked-button (click)="onCancel()" color="primary">
      Cancel
    </button>
    <button
      [disabled]="elementForm.pristine || elementForm.invalid"
      mat-flat-button
      (click)="onSubmit()"
      color="primary"
      class="pull-right"
    >
      {{ element?.id ? "SAVE" : "ADD" }}
    </button>
  </div>
</form>
