<mat-nav-list>
  <mat-toolbar>
    <span class="toolbar-filler"></span>
    <mat-icon aria-label="Side nav toggle icon" (click)="drawer.close()">
      <i class="fa fa-times"></i>
    </mat-icon>
  </mat-toolbar>
  <a href="" mat-list-item (click)="drawer.close()" [routerLink]="[{outlets: { homeOutlet: 'account'}}]">Account</a>
  <a href="" mat-list-item appPermission="{roles: ['admin']}" (click)="drawer.close()" [routerLink]="[{outlets: { homeOutlet: 'user'}}]">G&eacute;rer les
    utilisateurs</a>
  <a href="" mat-list-item (click)="signout()">Sign Out</a>
  <a href="" mat-list-item (click)="drawer.close()" routerLink="/auth/login">Sign In</a>
  <a href="" mat-list-item (click)="drawer.close()" [routerLink]="['/auth/signup']">Sign Up</a>
  <h2 matSubheader>
    <mat-icon matListIcon>
      <i class="fa fa-book"></i>
    </mat-icon>
    Mes documents
  </h2>
  <a mat-list-item (click)="drawer.close()" [routerLink]="[{outlets: { homeOutlet: 'document'}}]">G&eacute;rer les
    documents</a>
  <h2 matSubheader>
    <mat-icon matListIcon color="warn">
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </mat-icon>
    Favoris
  </h2>
  <a *ngFor="let sample of documentsSamples" mat-list-item (click)="drawer.close()"
    [routerLink]="['/home', {outlets: { homeOutlet: 'document/' + sample.id}}]">{{sample.name}}</a>
</mat-nav-list>