<div class="card">
  <div class="card-header">
    <button
      mat-stroked-button
      [disabled]="currentPage <= 0"
      (click)="lastPage()"
    >
      Before
    </button>
    <label>Page: </label>{{ currentPage + 1 }}
    <button
      mat-stroked-button
      class="pull-right"
      [disabled]="!isNextPage()"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
  <div class="card-body" style="min-height: 400px;">
    <div *ngFor="let element of currentPageElements">
      <div class="row">
        <div [ngClass]="{ 'col-md-10': editMode, 'col-md-12': !editMode }">
          <div [ngSwitch]="element.type">
            <div *ngSwitchCase="ElementType.SOURCE_CODE">
              <textarea
                style="width: 100%"
                rows="{{getRows(element.text)}}"
                disabled="disabled"
              >
                {{ element.text }}
              </textarea>
            </div>
            <div *ngSwitchCase="ElementType.TEXT">
              <div>{{ element.text }}</div>
            </div>
            <div *ngSwitchCase="ElementType.BIG_TITLE">
              <h1>{{ element.text }}</h1>
            </div>
            <div *ngSwitchCase="ElementType.MEDIUM_TITLE">
              <h2>{{ element.text }}</h2>
            </div>
            <div *ngSwitchCase="ElementType.SMALL_TITLE">
              <h3>{{ element.text }}</h3>
            </div>
            <div *ngSwitchCase="ElementType.VERY_SMALL_TITLE">
              <h4>{{ element.text }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2" *ngIf="editMode">
          <div *ngIf="element.row !== movedItem.row || element.page !== movedItem.page" class="btn-group">
            <button
              class="btn btn-xs btn-primary"
              (click)="editElement(element)"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-xs btn-default btn-danger"
              (click)="deleteElement(element)"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button class="btn btn-xs btn-default" (click)="moveElement(element)">
              <i class="fa fa-arrows" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="element.row === movedItem.row && element.page === movedItem.page">
            <div class="btn-group-vertical">
              <button
                class="btn btn-xs btn-info"
                [disabled]="cantMoveUp"
                (click)="moveUp(element)"
              >
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </button>
              <button class="btn btn-xs btn-info" (click)="moveDown(element)">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
            </div>
            <button class="btn btn-xs btn-default" (click)="moveElement(element)">
              <i class="fa fa-arrows" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="editMode" class="pull-right">
      <button mat-stroked-button (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="saveElement()">Save</button>
    </div>
  </div>
</div>
