<div class="card" *ngIf="documentWrapper?.biggerPageIndex>=0 || editMode; else empty">
  <div class="card-header">
    <button mat-stroked-button [disabled]="!documentWrapper.canReturnToPreviousPage()" (click)="documentWrapper.returnToPreviousPage()">Before</button>
    <label>Page: </label>{{ documentWrapper.currentPageIndex + 1 }}/{{documentWrapper.biggerPageIndex + 1}}
    <div class="pull-right">
      <button class="btn btn-xs btn-default" (click)="changeEditMode()">
        <i *ngIf="!editMode" class="fa fa-pencil"></i>
        <i *ngIf="editMode" class="fa fa-book" aria-hidden="true"></i>
      </button>
      <button *ngIf="editMode" class="btn btn-sm btn-success" (click)="documentWrapper.insertPage()">
        Insert
      </button>
      <span>&nbsp;&nbsp;</span>
      <button mat-stroked-button [disabled]="!documentWrapper.canGoToNextPage()" (click)="documentWrapper.goToNextPage()">Next</button>
    </div>
  </div>
  <div class="card-body contentBady">
    <div *ngFor="let element of documentWrapper?.currentPageElements">
      <div class="row"
        [hidden]="editableElement?.row === element.row && editableElement?.page === element.page && editMode">
        <div [ngClass]="{ 'col-md-10': editMode, 'col-md-12': !editMode }">
          <app-element-text-sheet [element]="element"></app-element-text-sheet>
        </div>
        <div class="col-md-2" *ngIf="editMode">
          <div *ngIf="element.row !== documentWrapper?.movedItem.row || element.page !== documentWrapper?.movedItem.page" class="btn-group">
            <button class="btn btn-xs btn-primary" (click)="editElement(element)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-xs btn-default btn-danger" (click)="deleteElement(element)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button class="btn btn-xs btn-default" (click)="documentWrapper.moveElement(element)">
              <i class="fa fa-arrows" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="
              element.row === documentWrapper?.movedItem.row && element.page === documentWrapper?.movedItem.page
            ">
            <div class="btn-group-vertical">
              <button class="btn btn-xs btn-info" [disabled]="documentWrapper?.cantMoveUp" (click)="documentWrapper.moveUp(element)">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </button>
              <button class="btn btn-xs btn-info" (click)="moveDown(element)" *ngIf="!documentWrapper.isLastElement(element)">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <div class="btn-group" role="group" *ngIf="documentWrapper.isLastElement(element)">
                <button id="btnGroupDrop1" type="button" class="btn btn-xs btn-info dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="" data-toggle="collapse" (click)="moveDown(element)"><i
                      class="fa fa-chevron-right" aria-hidden="true"></i> Next
                    Page</a>
                  <a class="dropdown-item" href="" data-toggle="collapse" (click)="moveToNewPage(element)"><i
                      class="fa fa-map-o" aria-hidden="true"></i> New page
                  </a>
                </div>
              </div>
            </div>
            <button class="btn btn-xs btn-default" (click)="moveElement(element)">
              <i class="fa fa-arrows" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div [hidden]="editableElement?.row !== element.row || editableElement?.page !== element.page || !editMode">
        <app-document-palette [element]="editableElement" (onSubmitChange)="saveElementChange($event)"
          (cancelChange)="onCancelEditElement($event)">
        </app-document-palette>
      </div>
    </div>
    <div *ngIf="!editableElement && editMode">
      <app-document-palette (onSubmitChange)="saveElementChange($event)" (cancelChange)="onCancelEditElement($event)">
      </app-document-palette>
    </div>
  </div>
  <div class="card-footer" *ngIf="editMode">
    <div *ngIf="editMode" class="pull-right">
      <!-- <button mat-stroked-button (click)="cancel()">Cancel</button> -->
      <button mat-flat-button color="primary" (click)="saveDocument()">
        Save
      </button>
    </div>
  </div>
</div>
<ng-template #empty>
  <div class="card">
    <div class="card-header">
      <div class="pull-right">
        <mat-chip (click)="changeEditMode()" color="primary">
          <i *ngIf="!editMode" class="fa fa-pencil"></i>
          <i *ngIf="editMode" class="fa fa-book" aria-hidden="true"></i>
        </mat-chip>
      </div>
    </div>
    <div class="card-body contentBady">
      Empty document!
    </div>
  </div>
</ng-template>
