/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.new-line {
    padding-top: 5px;
    padding-bottom: 5px;
}
.example-full-width {
    width: 100%;
}

.example-full-width95 {
    width: 95%;
}

.example-full-width80 {
    width: 80%;
}


.example-half-width {
    width: 50%;
}

label {
    font-weight: bold !important;
}
  